body {
    background-image: url('images/desk.png');
    background-size: 100%;
}

h1 {
    text-align: center;
}


h2{
     text-align: center;


}


a {

    font-size: 25px;
    color:steelblue
}


.glyphicon {

    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}


