body {

    
    background:url('https://pixabay.com/en/office-sitting-room-executive-730681/') no-repeat 100% 0;
    background-size: 100%;

}

h2{
     text-align: center;


}


a {

    font-size: 20px;
    color:steelblue
}